<div class="ui form segment">
  <div class="ui large feed">
    <div class="event"
         v-for="message in displayMessages">
      <div class="label">
        <i class="pencil alternate icon"></i>
      </div>
      <div class="content">
        <div class="summary">
          {{ message.user.username }}
          <div class="date">
            {{ displayAge(message.timestamp) }}
          </div>
        </div>
        <div class="extra text">
          {{ message.message }}
        </div>
      </div>
    </div>
  </div>
  
  <!-- ==================================== -->
  
  <div class="unstackable inline fields">
    <div class="ten wide field">
        <label for="WritingMessage">
          {{ status.username }}
        </label>
        <input type="text"
               id="WritingMessage"
               v-on:keyup.enter="send"
               v-model="writingMessage" />
    </div>
    <div class="three wide field">
      <button type="button"
              class="ui fluid button"
              v-on:click="insert"
              v-bind:class="{disabled: (writingMessage.trim() === ''), green: (writingMessage.trim() !== '')}">
        {{ $t('Send') }}
      </button>
    </div>
    <div class="three wide field">
      <button type="button"
              v-on:click="logout"
              class="ui fluid button">
        {{ $t('Logout') }}
      </button>
    </div>
  </div>
  
  <!-- ===================================== -->
  <!-- For test -->
  <hr />
  
  <!--
  <div class="ui field">
    {{ status.message }}
    {{ $route.params.name }}
  </div>
  <div class="ui field">
    <button type="button"
            class="ui button fluid green"
            v-on:click="addUser">
      Add User
    </button>
  </div>
  -->

  <table class="ui unstackable table">
    <thead>
      <tr>
        <th>
          Username
        </th>
        <th>
          Email
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="user in users">
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
  </table>
</div>