<div class="ui form container">
  <div class="ui field">
    {{ status.message }}
  </div>
  <div class="ui field">
    <button type="button"
            class="ui button fluid green"
            v-on:click="addUser">
      Add User
    </button>
  </div>

  <!--
  <button type="button" id="loadUsers">
    Load Users
  </button>
  -->

  <table class="ui unstackable table">
    <thead>
      <tr>
        <th>
          Username
        </th>
        <th>
          Email
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="user in users">
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
  </table>
</div>